<div class="navbar-lewagon fixed-bottom d-flex justify-content-between align-items-center px-3">
  <%= link_to root_path, class: "d-flex navbar-brand align-items-center" do %>
    <%= image_tag "stop.png" %>
  <% end %>

  <%= link_to discover_path, class: "d-flex navbar-brand align-items-center" do %>
    <%= image_tag "music-player.png" %>
  <% end %>

  <%= link_to events_path, class: "d-flex navbar-brand align-items-center" do %>
    <%= image_tag "placeholder.png" %>
  <% end %>

  <%= link_to dashboard_path, class: "d-flex navbar-brand align-items-center" do %>
    <%= image_tag "user.png" %>
  <% end %>
</div>
