<a><%= link_to event.title.gsub(/^(.{23,}?).*$/m,'\1'), event_path(event)%></a>
<p class="place-text-map"><strong><%= event.place.name.gsub(/^(.{24,}?).*$/m,'\1')%></p></strong>
<p class="date-text-map">Le <%= event.date.strftime("%d %b %y") %> <br> de <%= event.start_time.strftime("%H:%M") %> à <%= event.end_time.strftime("%H:%M") %></p>
<div class="img-mapboxgl-popup-content" style="background-image: url(<%= asset_path(event.photo) %>); background-position: center; background-size: cover;"></div>