<div class="bodyhome d-flex flex-column">
  <div class="logo mx-auto mt-5 mb-4">
    <p class="out">OUT</p>
  </div>
  <p class="marseille mb-4 mt-2">MARSEILLE</p>
  <div class="color-line-top d-flex mb-3"></div>
  <div class="ses_prochains_events d-flex justify-content-start" style="height: 30px;">
    <p class="taille_texte mb-2 mt-3" style="position: relative;left: -31px;">évènements ce soir</p>
  </div>
  <p class="lign-chapiter-event-cesoir mb-3 mt-4" style="left: 0px;"> </p>

    <div class="app" style="margin-top: 0px;">
      <ul class="hs">
        <%# events_sorted = @events.sort_by {|obj| obj.start_time} %>
        <% @events.order(start_time: 'asc').each do |event| %>

            <li>
            <%= link_to(event_path(event.id)) do %>
              <div class="card-event mr-3">
              <div class="color-line-event"> </div>
              <div class="img_event" style="background-image: url(<%=asset_path(event.photo)%>); background-position: center; background-size: cover;"></div>
              <h3 class="title-event"><%= event.title.gsub(/^(.{26,}?).*$/m,'\1') %></h3>

              <p class="text-event"> <%= event.category %>
                <% artist_category_array_home = [] %> <br>
                <% placename_for_card = event.place.name%>
                <% if placename_for_card.length > 122 %>
                  <%= placename_for_card%>
                <% else %>
                  <%= event.place.name%>
                <% end %>
                </p>
                <div class="card-next-event-date d-flex flex-column">
                  <% p= event.date %>
                  <h2 style="color: black;"><%= p.strftime('%d') %></h2>
                  <h3 style="color: black;"> <%= p.strftime('%b') %> </h3>
                </div>
              </div>
            <% end %>
            </li>

        <% end %>
      </ul>
  <div class="background-artist"></div>
      <div class="ses_prochains_events d-flex justify-content-start mt-4" style="height: 30px;">
    <div class="taille_texte mt-4" style="z-index: 1; color: black;" >artistes du moment</div>
  </div>
    <p class="lign-chapiter2 mt-4 mb-4" style="border: 1.2px solid black;" > </p>
      <ul class="hs2">
        <% @artists.first(15).each do |artist| %>
          <% unless artist.name.match?("Résident") %>
            <li class="li_height mb-5">
            <%= link_to(artist_path(artist.id)) do %>
              <div class="card-artist mt-4 mb-5 mr-4 ml-3">
                <div class="img_artist-card" style="background-image: url(<%=asset_path(artist.photo)%>); background-position: center; background-size: cover;"></div>
              </div>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
  </div>
</div>
<div class="bodyhome">
  <div class="text-center">
    <div class="ses_prochains_events d-flex justify-content-start" style="height: 30px;">

      <div class="taille_texte mb-2 mt-5" style="position: relative; top: -234px; left: -38px;">évènements à venir</div>

    </div>
    <p class="lign-chapiter3 my-2" style="position: relative; left: 0px;top: -188px;"> </p>
    <div class="d-flex flex-column">
      <% @events.order(date: 'asc').each do |event| %>
      <%= link_to(event_path(event.id)) do %>
        <% if event.date < (Date.today + 30.day) || event.date > Date.today %>
          <div class="card-next-event ml-5 mb-3" style="position: relative;left: -15px;top: -180px;">
            <div class="color-line-next-event">
            </div>
            <div class="img_next_event" style="background-image: url(<%=asset_path(event.photo)%>); background-position: center; background-size: cover;"></div>
            <h3 class="title-event"><%= event.title.gsub(/^(.{25,}?).*$/m,'\1') %></h3>
            <p class="title-text-event4"><%= event.title.gsub(/^(.{12,}?).*$/m,'\1') %></p>
            <p class="text-next-event">
              <%= event.category %> -<% artist_category_array_home = [] %>
                  <% event.artists.each do |artist| %>
                    <% unless artist_category_array_home.include?(artist.category + " ") %>
                      <% artist_category_array_home << artist.category + " " %>
                    <% end %>
                  <% end %>
                  <% if artist_category_array_home.length > 1 %>
                    <%= artist_category_array_home.first(1).join.gsub(/^(.{5,}?).*$/m,'\1') %>
                  <% else %>
                    <%= artist_category_array_home.join %>
                  <% end %><br>
              <% placename_for_card = event.place.name %>
                <% if placename_for_card.length > 12 %>
                  <%= placename_for_card[0..12]%>
                <% else %>
                  <%= event.place.name %>
                <% end %> </p>
            <div class="card-next-event-date-last d-flex flex-column">
              <% p= event.date %>
              <h2><%= p.strftime('%d') %></h2>
              <h3> <%= p.strftime('%b') %> </h3>
            </div>
          </div>
        <% end %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
